@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">To start using <b>ModelSolution</b>, please sign in or register.</p>
            <hr class="my-4" />
            <p><b>Known problems:</b></p>
            <p>Assignments/Expenses are not unique to each user as this was not a requirement.</p>
            <p>Expenses are of type integer. Project did not understand globalization (commas etc.) after changing from sqlite to sql when moving from MacBook to Windows</p>
        </div>
        <div class="col-md-6">
            <section>
                <form id="account" method="post">
                    <h4>Enter your credentials below</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
